---
import { MagicCardGradient } from "./cards.tsx";
---

<main id="aboutus">
  <div class="cardsWrap">
    <MagicCardGradient client:load />
  </div>

  <ul>
    <li>
      Nuestra misi贸n es mejorar la movilidad en el campus universitario
      ofreciendo una plataforma innovadora para compartir viajes con destinos
      comunes. Esta soluci贸n tecnol贸gica eficiente tiene como objetivo
      proporcionar alternativas de transporte convenientes y econ贸micas para
      estudiantes, profesores y personal universitario.
    </li>
  </ul>
  <div class="svgWrap">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      data-name="Layer 1"
      width="300"
      height="300"
      viewBox="0 0 832.20604 500.35625"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      ><path
        d="M227.31663,699.06c-.05567-.24512-5.44-24.79785,5.55615-45.19043,10.99609-20.39166,34.46826-29.38477,34.7041-29.47363l1.07275-.40235.25342,1.11817c.05566.24511,5.43994,24.79785-5.55615,45.19043-10.99561,20.39166-34.46826,29.38476-34.7041,29.47363l-1.07325.40234Zm39.86181-72.33783c-4.70166,2.02246-23.25781,10.874-32.54492,28.09668-9.28809,17.22461-6.48584,37.59375-5.59229,42.63086,4.69971-2.01758,23.24854-10.85547,32.54493-28.09668C270.87375,652.1293,268.07248,631.76211,267.17844,626.72213Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#f1f1f1"></path><path
        d="M254.94373,663.14907c-19.76056,11.88861-27.371,35.50269-27.371,35.50269s24.42779,4.3388,44.18835-7.54981,27.371-35.50268,27.371-35.50268S274.70429,651.26046,254.94373,663.14907Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#f1f1f1"></path><path
        d="M554.19262,472.56441a10.83726,10.83726,0,0,0-10.47951-12.89681l-9.15082-23.01244-15.3409,2.15012,13.37918,32.31652a10.896,10.896,0,0,0,21.59205,1.44261Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#9f616a"></path><path
        d="M525.92964,464.47855l-4.75346-11.3351-29.62149-56.38484,1.61062-104.33228.30923-.041c18.954-2.50423,31.77818,84.82857,32.315,88.54784l18.71553,64.00809,4.45518,14.10849Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#d3c2f6"></path><polygon
        points="296.518 484.658 310.92 484.657 317.771 429.106 296.515 429.107 296.518 484.658"
        fill="#9f616a"></polygon><path
        d="M476.741,679.77772l28.363-.00114h.00115a18.07611,18.07611,0,0,1,18.07514,18.07485v.58737l-46.43846.00172Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#2f2e41"></path><polygon
        points="164.095 462.715 175.912 470.949 213.294 429.291 195.854 417.138 164.095 462.715"
        fill="#9f616a"></polygon><path
        d="M347.66667,656.57887l23.27053,16.21554.00094.00065a18.07611,18.07611,0,0,1,4.49515,25.16356l-.33583.4819L336.997,671.89089Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#2f2e41"></path><path
        d="M472.49955,671.42229l-.62235-104.21007L462.81533,501.686,445.9204,559.31028l-.03285.04733-61.225,88.88515-23.82325-12.07048.13051-.31012c1.45591-3.46284,35.76216-84.7936,44.98333-84.7936a4.97985,4.97985,0,0,0,4.24236-1.86422c2.70645-3.614.50244-11.28284.47983-11.35983-2.63969-10.94588,3.99742-14.67362,5.3193-15.296l3.55555-73.397.36857.02543,96.38955,6.76108-4.04386,91.76589-8.69878,120.23153-.29881.03391Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#2f2e41"></path><path
        d="M517.781,472.20177l-.41678-.03391L413.69966,463.8117l.25589-34.29989,5.07382-89.55836.02878-.06216,20.66277-44.85865,14.6473-6.63252,21.37023-1.12461.0521.01307,19.50283,4.83187,20.288,145.63873Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#d3c2f6"></path><circle
        cx="465.99537"
        cy="251.83011"
        r="27.29373"
        transform="translate(-247.58414 54.55847) rotate(-28.66324)"
        fill="#9f616a"></circle><path
        d="M438.54633,258.68144v-10.6343s-8.576-10.10035.85759-12.64464c0,0,2.57278-25.44285,24.87023-13.56952,0,0,30.87339-5.08857,27.443,12.72143,0,0,7.71835-4.64962,5.14556,7.22372L491.88689,260.904s2.40306-12.634-5.31529-14.33024l-4.288-2.54429s-12.00632,11.87334-30.0158-2.54428c0,0-7.71834-1.84217-6.86075,5.79069S438.54633,258.68144,438.54633,258.68144Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#2f2e41"></path><path
        d="M463.15358,446.58748a10.83729,10.83729,0,0,0-12.62376-10.80688l-13.13193-20.99672-14.706,4.86818,18.96129,29.391a10.896,10.896,0,0,0,21.50042-2.45556Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#9f616a"></path><path
        d="M429.23633,439.96884l-23.75756-48.2346.021-.11726c.09572-.53405,9.659-53.63372,16.97316-73.15156,7.36048-19.64146,17.43552-23.585,17.86078-23.74325l.21263-.07912,9.03379,8.66522-12.51394,83.527,13.489,40.28392Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#d3c2f6"></path><rect
        x="786.20604"
        width="46"
        height="46"
        fill="#f1f1f1"></rect><rect
        x="426.20604"
        y="179"
        width="46"
        height="46"
        fill="#f1f1f1"></rect><path
        d="M635.92184,404.66451H999.59653V220.55582H635.92184Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#fff"></path><path
        d="M1002.59656,407.66458H632.92176V217.5557h369.6748Zm-363.6748-6h357.6748V223.5557H638.92176Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#e5e5e5"></path><rect
        x="495.67778"
        y="85.31585"
        width="279.80647"
        height="9.27916"
        fill="#e5e5e5"></rect><rect
        x="495.67778"
        y="107.81893"
        width="279.80647"
        height="9.27916"
        fill="#e5e5e5"></rect><rect
        x="723.48425"
        y="141.04542"
        width="52"
        height="8.05267"
        fill="#d3c2f6"></rect><path
        d="M565.897,700.13773h-381a1,1,0,1,1,0-2h381a1,1,0,0,1,0,2Z"
        transform="translate(-183.89698 -199.82188)"
        fill="#cbcbcb"></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="250"
      height="250"
      viewBox="0 0 678.62 609.15198"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      ><path
        d="m423.24993,609.15198h-199.55937c-26.00248,0-47.15726-21.1545-47.15726-47.15726V47.15726c0-26.00276,21.15478-47.15726,47.15726-47.15726h199.55937c26.00276,0,47.15726,21.1545,47.15726,47.15726v514.83746c0,26.00276-21.1545,47.15726-47.15726,47.15726Z"
        fill="#2f2e41"
        stroke-width="0"></path><path
        d="m423.45331,596.42516h-199.96612c-19.51083,0-35.38405-15.8735-35.38405-35.38405V45.21841c0-19.51054,15.87322-35.38405,35.38405-35.38405h199.96612c19.51054,0,35.38405,15.8735,35.38405,35.38405v515.82271c0,19.51054-15.8735,35.38405-35.38405,35.38405Z"
        fill="#fff"
        stroke-width="0"></path><path
        d="m354.70881,43.38689h-63.63411c-7.33651,0-13.30531-5.96852-13.30531-13.30531s5.9688-13.30531,13.30531-13.30531h63.63411c7.33679,0,13.30531,5.96852,13.30531,13.30531s-5.96852,13.30531-13.30531,13.30531Z"
        fill="#2f2e41"
        stroke-width="0"></path><path
        d="m403.43203,187.75405h-166.78833c-6.39966,0-11.60596-5.20703-11.60596-11.60645v-66.28809c0-6.39941,5.2063-11.60547,11.60596-11.60547h166.78833c6.39941,0,11.60571,5.20605,11.60571,11.60547v66.28809c0,6.39941-5.2063,11.60645-11.60571,11.60645Z"
        fill="#d3c2f6"
        stroke-width="0"></path><path
        d="m403.43203,390.75405h-166.78833c-6.39966,0-11.60596-5.20703-11.60596-11.60645v-66.28809c0-6.39941,5.2063-11.60547,11.60596-11.60547h166.78833c6.39941,0,11.60571,5.20605,11.60571,11.60547v66.28809c0,6.39941-5.2063,11.60645-11.60571,11.60645Z"
        fill="#d8d8d8"
        stroke-width="0"></path><path
        d="m402.44155,288.07046h-65.57031c-6.73535,0-12.21484-5.47949-12.21484-12.21484v-63.57031c0-6.73535,5.47949-12.21484,12.21484-12.21484h65.57031c6.73535,0,12.21484,5.47949,12.21484,12.21484v63.57031c0,6.73535-5.47949,12.21484-12.21484,12.21484Z"
        fill="#d8d8d8"
        stroke-width="0"></path><path
        d="m302.44155,288.07046h-65.57031c-6.73535,0-12.21484-5.47949-12.21484-12.21484v-63.57031c0-6.73535,5.47949-12.21484,12.21484-12.21484h65.57031c6.73535,0,12.21484,5.47949,12.21484,12.21484v63.57031c0,6.73535-5.47949,12.21484-12.21484,12.21484Z"
        fill="#d8d8d8"
        stroke-width="0"></path><path
        d="m499.15135,148.95547l-4.20999,10.53s-3.88,14.74.67001,20.62c4.54001,5.87,5.54999,50.88.67001,54.2-4.88,3.33,61.85001-30.81999,61.85001-30.81999,0,0-26.04999-60.41-26.48999-60.63s-17.51001-5.54-17.51001-5.54l-14.95999,11.64h-.02005Z"
        fill="#2f2e43"
        stroke-width="0"></path><polygon
        points="542.60136 201.00548 520.24134 208.35547 520.24134 176.17547 540.53135 176.17547 542.60136 201.00548"
        fill="#f2a2a5"
        stroke-width="0"></polygon><path
        id="uuid-4b95b5b1-38e0-4a6b-a87e-620e87f12b50-33"
        d="m471.26136,383.71547c-1.20999,7.37-6.13,12.66-10.98001,11.81s-7.81-7.51999-6.59-14.89999c.44-2.95001,1.60999-5.75,3.41-8.14001l5.54001-31.17001,15.07999,3.16-7.07001,30.38998c.92999,2.88,1.14001,5.91.60999,8.85001h0l.00003.00003Z"
        fill="#f2a2a5"
        stroke-width="0"></path><rect
        x="513.26136"
        y="561.29548"
        width="20.94"
        height="29.71002"
        fill="#f2a2a5"
        stroke-width="0"></rect><path
        d="m492.86134,608.9955c-2.20001,0-4.16-.04999-5.64001-.19-5.56-.51001-10.87-4.62-13.54001-7.02002-1.20001-1.08002-1.57999-2.79999-.95999-4.28003h0c.45001-1.06,1.34-1.85999,2.45001-2.16998l14.70001-4.20001,23.79999-16.06.26999.47998c.10001.17999,2.44,4.39001,3.22,7.22998.29999,1.08002.22,1.97998-.23001,2.67999-.31.47998-.75.76001-1.10001.91998.42999.45001,1.78,1.37,5.94,2.03003,6.07001.96002,7.35001-5.33002,7.39999-5.59003l.04001-.21002.17999-.12c2.89001-1.85999,4.67001-2.71002,5.28-2.53003.38.10999,1.01999.31,2.75,17.44.17001.53998,1.38,4.47998.56,8.25-.89001,4.09998-18.81,2.69-22.39999,2.37-.10001.01001-13.51999.96997-22.70999.96997h0l-.00998.00018Z"
        fill="#2f2e43"
        stroke-width="0"></path><rect
        x="582.33573"
        y="541.24658"
        width="20.94"
        height="29.70999"
        transform="translate(-204.47327 397.94408) rotate(-31.95)"
        fill="#f2a2a5"
        stroke-width="0"></rect><path
        d="m570.23137,604.91548c-2.45999,0-4.72-.29999-6.32999-.58002-1.57999-.28003-2.82001-1.53998-3.07999-3.12h0c-.17999-1.14001.14999-2.28998.92999-3.14001l10.25-11.34003,11.70001-26.22.48001.26001c.17999.10001,4.39001,2.42999,6.56,4.42999.82999.75998,1.23999,1.56998,1.22,2.39999-.01001.58002-.23001,1.03998-.45001,1.37.60001.15997,2.23001.21997,6.10999-1.41998,5.66-2.39001,3.42001-8.41,3.32001-8.66l-.07999-.20001.09-.19c1.47-3.10999,2.51999-4.76999,3.14001-4.94.39001-.10999,1.03-.28,11.56,13.35001.42999.35999,3.54001,3.07001,4.84,6.70001,1.41,3.95001-14.54001,12.23999-17.75,13.85999-.10001.08002-16.79001,12.21002-23.64999,15.65997-2.72,1.37-5.94,1.78998-8.87,1.78998h0l.00995-.00989Z"
        fill="#2f2e43"
        stroke-width="0"></path><path
        d="m549.62135,312.84547h-58.63l-5.32001,54.54001,23.28,201.51999h29.92999l-11.97-116.39001,48.54999,105.08002,26.60001-18.62-37.91-98.10001s13.54001-85.45999,2.89999-106.75c-10.64001-21.28-17.42999-21.28-17.42999-21.28h.00003Z"
        fill="#2f2e43"
        stroke-width="0"></path><polygon
        points="578.78135 316.17546 477.02134 316.17546 513.60136 195.79547 554.17137 195.79547 578.78135 316.17546"
        fill="#d6d6d7"
        stroke-width="0"></polygon><path
        d="m520.00135,195.81547s-25.26999-.67-27.92999,5.99001c-2.66,6.64999-33.92001,164.94002-33.92001,164.94002h20.62l41.23999-170.92999h0l-.00998-.00003Z"
        fill="#d6d6d7"
        stroke-width="0"></path><circle
        cx="523.01136"
        cy="162.80547"
        r="22.28"
        fill="#f2a2a5"
        stroke-width="0"></circle><path
        d="m527.33134,128.18547s26.82001-6.87,35.03,28.82c0,0,.22,9.31,4.88,13.08,4.66,3.77,3.10001,23.28001,3.10001,23.28001,0,0,8.87,14.63,1.32999,21.28,0,0-3.32999,13.52,1.54999,21.28,4.88,7.75999,23.28,50.44-7.32001,53.03999,0,0-15.51999-9.37-8.20001-37.3s-.89001-43.36-.89001-43.36c0,0-23.5-8.52-22.17001-26.7,1.32999-18.18-15.07999-36.14-16.17999-35.91s-12.64001-6.43-17.73999,13.97l-5.45999-.93s-2.29999-34.32,32.07001-30.55h.00003Z"
        fill="#2f2e43"
        stroke-width="0"></path><path
        id="uuid-9a3ba102-cbb7-416d-9502-ea03e1bf6bf2-34"
        d="m596.15135,380.13548c1.48999,7.32001-1.23999,14.01001-6.07999,14.94s-9.97-4.26001-11.45001-11.57999c-.63-2.92001-.53-5.94.29001-8.82001l-5.89001-31.10999,15.22-2.41,4.19,30.92001c1.89001,2.35999,3.16,5.12,3.72,8.06h0v-.00003Z"
        fill="#f2a2a5"
        stroke-width="0"></path><path
        d="m536.45137,195.95547s22.26001-2.82001,24.92001,3.83c2.66,6.64999,33.91998,164.94,33.91998,164.94h-20.62l-38.22-168.77Z"
        fill="#d6d6d7"
        stroke-width="0"></path><path
        d="m678.62,607.57046c0,.83002-.66998,1.5-1.5,1.5H1.5c-.83,0-1.5-.66998-1.5-1.5s.67-1.5,1.5-1.5h675.62c.83002,0,1.5.66998,1.5,1.5Z"
        fill="#2f2e43"
        stroke-width="0"></path></svg
    >
  </div>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin: 0px 450px 0 450px;
    background-image: radial-gradient(
      circle closest-side at 20% 60%,
      var(--light-purple) 1%,
      #ffffff 70%
    );
    margin-bottom: 150px;
  }

  main > ul {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }

  main > ul > li {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }

  .svgWrap {
    display: flex;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 110px;
  }
</style>
